@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-1: #5caf90;
    --color-2: #82b440;
    --bg-color: #262626;
    --text-color: #4b5966;
    --font: Poppins, sans-serif;
}

body {
    font-size: 16px;
    font-family: var(--font);
    padding-top: 55px;
}

ul {
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
}

.dropdown-item:hover {
    background-color: transparent !important;
}

i {
    line-height: 0;
    vertical-align: middle;
}

.modal-dialog {
    max-width: none;
    width: fit-content;
}

input:focus-visible {
    outline: none;
}

p {
    margin: 0;
}

.offcanvas {
    top: 55px !important;
    height: calc(100vh - 55px);
    width: 332px !important;
}